*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.center{
    max-width: 1100;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
}

.menu-mobile{
    display: none;
}

header{
    background-color: white;
    padding: 20px 0;
    border-bottom: 0.5px solid rgb(200, 200, 200)
}

.logo{
    color: #16507b;
    
}

.logo img{
    position: absolute;
    display: flex;
    width: 20%;
    top: -5px;
}

.logo h2{
    font-weight: normal;
    font-size: 22px;
}

.menu{
    width: 80%;
    text-align: right;
}

.menu a{
    color: #16507b;
    font-size: 14px;
    text-decoration: none;
    margin-right: 20px;
}

.menu a:hover{
    color: #007bff;
    transition: 0.4s;
}

.menu .btn-menu{
    background-color:#007bff ;
    display: inline-block;
    padding: 8px 16px;
    color: white;
    border-radius: 6px;
}

.menu .btn-menu:hover{
    background-color: #16507b;
    color: white;
}

/*
Section Main
*/

section.main{
    background-image: url('img/bg.jpg');
    padding: 70px 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.main__cta{
    width: 100%;
    text-align: center;
}

.main__cta h2{
    color:#124265 ;
    font-size: 40px;
}

.main__cta p{
    color: gray;
    font-size: 19px;
    margin: 10px 0;
}

.main__cta button{
    background-color:#007bff ;
    display: inline-block;
    padding: 8px 30px;
    color: white;
    border: 0;
    cursor: pointer;
}

.main__cta button:hover{
    background-color: #16507b;
    color: white;
    transition: 0.4s;
}

.diferenciais{
    display: flex;
    padding-top: 70px;
    flex-wrap: wrap;
}

.diferencial-single{
    background-color: white;
    width: 23%;
    margin-right: 2%;
    padding: 50px 20px;
    border-radius: 10px;
}

.diferencial-single i{
    color: #16507b;
    font-size: 23px;   
}

.diferencial-single h2{
    color: #16507b;
    margin: 10px 0;
    font-size: 17px;
}

.diferencial-single p{
    color: gray;
    font-size: 14px;
    line-height: 30px;
}

section.sobre{
    padding: 80px 0;
}

.chamada-sobre{
    text-align: center;
    width: 100%;  
}

.chamada-sobre h2{
    color: #124265;
    text-transform: uppercase;
}

.chamada-sobre p{
    font-size: 14px;
    color: gray;
    margin: 10px 0;
    }

.conteudo-sobre{
    display: flex;
    flex-wrap: wrap;
}    

.conteudo-sobre p{
    width: 48%;
    margin-right: 2%;
    color: #444;
}

.conteudo-sobre i{
    color: #007bff;
}

.conteudo-sobre span{
    display: inline-block;
    width: 100%;
    margin-top: 10px;
}

section.conquistas{
    background-color: aliceblue;
    padding: 20px 0;
}

.conquista-single{
    width: 22%;
    margin-right: 3%;
    text-align: center;
    color: #124265;
}

.conquista-single h2{
    font-size: 30px;
}

.conquista-single img{
    max-width: 100%;
}

.conquista-single img{
    filter: grayscale(100%);
    transform: scale(1.1);
    transition: 0.6s;
    
}

.conquista-single img:hover{
    filter: grayscale(0);
    transform: scale(1.5,1.5);
}


.menu-items{
    position: absolute;
    left: 0;
    top: 60px;
    width: 100%;
    text-align: center;
    background-color: white;
    border-bottom: 2px solid #124265;
    display: block;
    opacity: 0;
    transition: 1s;
}

.menu-items.show{
    opacity: 1;
    display: block;
}

.menu-items.hidde{
    opacity: 0;
   
}

.menu-items a{
    display: block;
    text-decoration: none;
    color: #124265;
}

.custom-shape-divider-top-1671708364 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1671708364 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 78px;
}

.custom-shape-divider-top-1671708364 .shape-fill {
    fill: aliceblue;
}


section.sobre-empreendedor{
    padding: 40px 0;
    
}

.sobre-empreendedor{
   display: flex;
   flex-wrap: wrap;
   
}
   

.sobre-empreendedor-img{
    width: 50%;
}

.sobre-empreendedor-img img{max-width: 100%;}

.sobre-empreendedor-content{
    width: 50%;
    padding: 0 50px;
}

.sobre-empreendedor-content h2{
    color: #124265;
    margin-bottom: 20PX;

}

.sobre-empreendedor-content p{
    color: #444;
    font-size: 14px;
    margin-bottom: 14px;
}

.sobre-empreendedor-content i{
    color: #007bff;
}

section.depoimentos{
    padding-bottom: 40px;
    
}

section.depoimentos .depoimentos-chamada{
    text-align: center;
}


.depoimentos-chamada h2{
    color: #124265;
    text-transform: uppercase;
}

.depoimentos-chamada p{
    color: #ccc;
    margin-bottom: 10px;
    font-size: 14px;
}

.carrousel{
    display: flex;
}

.carrousel-single{
    width: 31%;
    margin-right: 2%;
    text-align: center;
}

.carrousel-single-box{
    padding: 20px;
    background-color: aliceblue;
    border-radius: 10px;
}

.carrousel-single-box p{
    font-style: italic;
    font-size: 14px;
    color: #444;
}

.carrousel-single-box i{
    color: #adc8dc;
    padding: 0 8px;
}

.carrousel-single img{
    max-width: 100%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: inline;
    margin: 10px 0;
}


.carrousel-single span{
    color: #ccc;
}



.services{
    padding: 30px 0;
    background-color: aliceblue;
    
}

.services-intro h2{
    text-align: center;
    color: #124265;
    
}

.services-intro p{
    text-align: center;
    color: #444;
    padding: 30px 0;
}

.boxes{
    display: flex;
    gap: 10px;
    text-align: center;    
}

.box-single{
    width: 30%;
    margin-right: 3.3%;
    padding: 100px 20px;
    border-radius: 10px;
    background-color: white;
}

.box-single h2{
    font-size: 20px;
    color: #124265;
}

.box-single p{
    font-size: 12px;
    color: #444;
}

.box-single i{
    font-size: 30px;
    padding-bottom: 20px;
}

.call{
    display: flex;
    background-color: #124265;    
}

.callcenter{
    padding: 50px 20px;
    text-align: center;
}

.call h2{
    color: white;
}

.call p{
    color: white;
    padding-bottom: 30px;
}

.callcenter button{
    background-color: #34af23;
    padding: 10px 30px;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    cursor: pointer;

}

.callcenter button:hover{
    background-color: white;
    color: #16507b;
}



section.social{
    background-color: aliceblue;
    padding: 10px 0px;
}

.social-single{
    width: 22%;
    margin-right: 3%;
    text-align: center;
    color: #124265;
}


.social-single img{
    max-width: 50%;
    cursor: pointer;
}

.social-single img{
    filter: grayscale(100%);
    transform: scale(1.1);
    transition: 0.6s;
    
}

.social-single img:hover{
    filter: grayscale(0);
    transform: scale(1.5,1.5);
}


.contato{
    display: flex;
    justify-content: center;
    background-color: #124265;
    
}

section form {
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

form input{
    padding: 5px;
    outline: none;
    border: 0;
    border-radius: 15px;
    transition: 0.5s;
    background-color: #d4dde3;
}

form input:focus{
    border-radius: 0;
    background-color: white;
}

form textarea{
    padding: 5px;
    outline: none;
    border: 0;
    border-radius: 15px;
    transition: 0.5s;
    background-color: #d4dde3;
}

form textarea:focus{
    border-radius: 0;
    background-color: white;
}


section .formulario{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px 20px;
    background-color: #124265;
    width: 50%;
    margin-bottom: 30px;
}

section .formulario h2{
    font-size: 20px;
    color: #ffffff;
}

section .formulario p{
    font-size: 15px;
    color: #ffffff;
}

.formulario textarea{
    width: 100%;
}

.formulario button{
    background-color:#124265 ;
    display: inline-block;
    padding: 8px 30px;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

.formulario button:hover{
background-color: #ffffff;
border-radius: 0%;
color: #124265;
}

.copyright {
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border-bottom: 40px solid #124265;
    }

.copyright p{
    font-size: 13px;
    color: #444;
}

.copyright a{
    text-decoration: none;
    cursor: pointer;
    color: black;
}

@media screen and (max-width: 768px){
    .diferencial-single{
    width: 100%;
    margin-bottom: 20px;
}

.menu{
    display: none;}
      
.logo{
    width: 20%;
}  

.menu-mobile{
    display: block; 
    text-align: right; 
    width: 80%;}

.menu-mobile i{
    cursor: pointer;
    font-size: 23px;
    margin-top: 8px;
    color: #124265;
}
    
.conteudo-sobre p{
    width: 100%; 
    margin: 20px 20px;}
     
 .sobre-empreendedor{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px 20px;    
 }

 .sobre-empreendedor img{
    width: 100%;
 }

 .sobre-empreendedor-content{
    width: 100%;
 }

.carrousel{
    display: flex;
    flex-wrap: wrap;
}

.carrousel-single{
    width: 100%;
    margin: 20px 20px;
}

.boxes{
    display: flex;
    flex-wrap: wrap;
}

.box-single{
    width: 100%;
    margin: 20px 20px;
}

section .formulario{
    width: 100%;
    padding: 20px 20px;
}
}



